.calculator__key {
    background: hsl(210, 25%, 95%);
    border: none;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    padding-inline-end: 1.25rem;
    padding-inline-start: 1.25rem;
    font-size: 1.5rem;
}
.calculator__key:active {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3) inset;
    outline: none;
}
.calculator__key--operator {
    background: hsl(208, 25%, 86%);
}
.calculator__key--operator:active {
    background: hsl(208, 24%, 80%);
}
.calculator__key--enter {
    grid-column: 4 / 5;
    grid-row: 2 / span 4;
    background: hsl(357, 100%, 72%);
}